<div class="site-content">

  <div class="d-flex flex-column flex-md-row flex-items-center flex-md-items-center stafftools-page-header clearfix">
    <div class="col-1 d-flex">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon 'person', height: 22 %>
      </span>
    </div>

    <div class="col-9 col-md-9 d-flex flex-column">
      <h2 class="stafftools-heading">
        <%= @assignment.title %>
      </h2>

      <p class="assignment-type text-gray">Individual assignment</p>
    </div>
    <div class="col-2 col-md-2 d-flex flex-column flex-items-center">
      <div class="select-menu js-menu-container js-select-menu">
        <button class="btn select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false">
          Choose an item
        </button>
        <div class="select-menu-modal-holder">
          <div class="select-menu-modal js-menu-content">
            <div class="select-menu-list js-navigation-container">
              <a class="select-menu-item selected js-navigation-item" href="#url">
                <%= octicon("check", :class => "select-menu-item-icon") %>
                <span class="select-menu-item-text js-select-button-text">Item 1</span>
              </a>
              <a class="select-menu-item js-navigation-item" href="#url">
                <%= octicon("check", :class => "select-menu-item-icon") %>
                <span class="select-menu-item-text js-select-button-text">Item 2</span>
              </a>
              <a class="select-menu-item js-navigation-item" href="#url">
                <%= octicon("check", :class => "select-menu-item-icon") %>
                <span class="select-menu-item-text js-select-button-text">Item 3</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn btn-outline dropdown-togle" type="button">Change Creator</button>
        <div class="position-absolute Box Box--condensed dropdown-content">
          <ul class="filter-list">
            <% @assignment.organization.users.reject { |u| u.id == @assignment.creator_id }.each do |c| %>
            <li class="filter-item p-0">
              <%= link_to update_creator_stafftools_assignment_path(@assignment.id, user_id: c), method: :post, class: "d-flex flex-items-center" do %>
                <%= image_tag c.github_user.github_avatar_url(40), class: 'avatar', alt: "@#{c.github_user.login}", height: 20, width: 20 %>
                <p class="pl-1 m-0"><%= c.github_user.name %></p>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="boxed-group">
    <h3>Assignment information</h3>

    <div class="boxed-group-inner">
      <table>
        <tr>
          <td class="text-emphasized">ID</td>
          <td><%= @assignment.id %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Owned by</td>
          <td><%= link_to @assignment.organization.title, stafftools_organization_path(@assignment.organization.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Created by</td>
          <td><%= link_to @assignment.creator.github_user.login, stafftools_user_path(@assignment.creator) %></td>
        </tr>
        <% if @assignment.starter_code? %>
        <tr>
          <td class="text-emphasized">Starter code</td>
          <td><%= link_to @assignment.starter_code_repository.html_url, @assignment.starter_code_repository.html_url %></td>
        </tr>
        <% end %>
        <tr>
          <td class="text-emphasized">Invitation</td>
          <td><%= link_to @assignment.assignment_invitation.key, stafftools_assignment_invitation_path(@assignment.assignment_invitation.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Created on</td>
          <td><%= local_time(@assignment.created_at) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Last updated</td>
          <td><%= local_time(@assignment.created_at) %></td>
        </tr>
      </table>
    </div>
  </div>

  <% if @assignment.assignment_repos.present? %>
    <div class="boxed-group">
      <h3>Assignment repositories</h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <%= render partial: 'stafftools/assignments/assignment_repo', collection: @assignment.assignment_repos %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
